/** Created by Rémi Doutre, 2015-2022. Public domain. **/
@import url("../basic.css");

:root { --murder-red: var(--virtue-blue); }
footer { text-align: center; }

/********************
 * Custom Viewer
 */

#fixref {
	bottom: -2px; /* In this page, fixref looks like a draggable tab from the bottom. Solves weird issues with iframes and bottom border. */ }
#fixref > div {
	padding: .35em;
	border-bottom: 1px solid var(--tint-grey); }
#fixref #minimize { float: right; }
#fixref iframe {
	transition: height .8s ease;
	height: 75vh;
	width: 450px;
	border: none; }
@media screen and (max-width: 767px){
	#fixref iframe { width: 100%; margin-left: 0; }
}

/********************
 * Steps	(.steps, b, .action)
 */

ul.steps { padding-left: 20px; }

ul.steps > li > b {
	display: inline-block;
	min-width: 4em;
	text-align: right;
}

.actionStep, /* deprecated */
ul.steps > li.action {
	color: var(--tint-dark);
	list-style-type: circle;
}

ul.steps > li.action + li:not(.action) { margin-top: .75em; }