/** Created by Rémi Doutre, 2015-2018. Public domain. **/
@import url("../basic.css");

/**
 * Custom Palette:
 * 'Virtue's Reward' by Greytyphoon
 * #0b0608 murder-black
 * #eaebef murder-grey
 * #2573c6 virtue-blue (derived of murder-red)
 * #ffffff html-white
 * #a9a9a9 html-darkgrey
 **/
:root {
	--virtue-blue: #2573c6;
	--murder-red: var(--virtue-blue); }

/********************
 * Custom Components   (#fixref, #header, .credit, .actionStep)
 */
#fixref {
	bottom: -2px; /* In this page, fixref looks like a draggable tab from the bottom. Solves weird issues with iframes and bottom border. */ }
#fixref > div {
	padding: .35em;
	border-bottom: 1px solid var(--html-darkgrey); }
#fixref #minimize { float: right; }
#fixref iframe {
	transition: height .8s ease;
	height: 50vh;
	border: none; }
@media screen and (max-width: 767px){
	#fixref iframe { width: 100%; margin-left: 0; }
}

/* I use this when I want to say who gave me this recipe. */
span.credit { /* inspired from Pathfinder's .listBonuses */
	display: inline-block;
	color: var(--html-darkgrey);
	font-size: .75rem;
	font-weight: normal; }
span.credit::before { content: "(\00e0  la "; }
span.credit::after { content: ")"; }

/* I use this when I'm writing directions for a recipe */
li.actionStep {
	color: var(--html-darkgrey);
	margin-left: 1rem;
	list-style-type: circle; }