/** Created by Rémi Doutre, 2015-2019. Public domain. **/

/**
 * Custom Palette:
 * 'Valiance' by Greytyphoon
 * #0b0608 murder-black
 * #eaebef murder-grey
 * #c62825 murder-red
 * #ffffff html-white
 * #a9a9a9 html-darkgrey
 *
 * Palette inspiration: http://www.color-hex.com/color-palette/23446
 * 'Murder and Murdered' by simoneurso
 * #0b0608 murder-black
 * #872927 murder-brown
 * #fcf7f9 murder-white
 * #eaebef murder-grey
 * #c62825 murder-red
 **/
* { box-sizing: border-box; line-height: 1.2em; }
html { font-size: 16px; }
body {
	margin: 0;
	font-family: 'Mirza', 'Varela', 'Roboto', 'Segoe UI', sans-serif;
	color: #0b0608; /*murder-black*/ }
a, a:link, a:visited, a:active { color: #c62825; /*murder-red*/ }
a:hover { text-shadow: 0px 0px 1px; }
ul, ol, dl, p { margin: 0 0 .75em 0; }

@media screen {
	body > .container { padding: 10px 25px .5px 25px; }
}
@media screen and (min-width: 576px) {
	body {
		overflow-y: scroll;
		background-color: #eaebef; } /*murder-grey*/
	body > .container {
		background-color: #ffffff; /*html-white*/
		border-left: 1px solid #a9a9a9; /*html-darkgrey*/
		border-right: 1px solid #a9a9a9; /*html-darkgrey*/
		margin: 0 auto;
		max-width: 540px;
		min-height: 100%; }
	body > .container::after {
		content: "";
		display: block;
		clear: both; } /* clearfix */
}
@media screen and (min-width: 768px) {
	body > .container { max-width: 720px; }
}
@media screen and (min-width: 992px) {
	body > .container { max-width: 960px; }
}
@media screen and (min-width: 1200px) {
	body > .container { max-width: 1140px; }
}

/********************
 * Grid
 */
@media screen and (min-width: 768px), print{
	section.row { display: flex; flex-wrap: wrap; }
	section.row > * { flex: 1; }
	section.row > * + * { margin-left: 1rem; }
}

/********************
 * Custom Components   (#fixref, #header, .title, .subtitle, .apartee, .br)
 */

#fixref  {
	background-color: #ffffff; /*html-white*/
	border-bottom: 1px solid #a9a9a9; /*html-darkgrey*/
	text-align: center; }
@media screen and (min-width: 768px){
	#fixref {
		position: fixed;
		bottom: 10;
		right: 10;
		z-index: 5;
		border: 1px solid #a9a9a9; /*html-darkgrey*/
		border-radius: 3px;
		padding: .1em .25em;
	}
}

header, #header {
	padding: 8px;
	margin: 0px -15px 15px -15px;
	border-radius: 6px;
	text-align: center;
	background-color: #c62825; /*murder-red*/
	border: 1px solid #c62825; /*murder-red*/
	box-shadow: 2px 2px 2px #a9a9a9;} /*html-darkgrey*/
header h1, #header h1 {
	font-size: inherit;
	font-weight: bold;
	margin: 0; }

/* Section titles, encased in two black lines */
.title {
	border-top: 1px solid #0b0608; /*murder-black*/
	border-bottom: 1px solid #0b0608; /*murder-black*/
	clear: both; }
hr {
	border: none;
	border-bottom: 1px solid #a9a9a9; /* html-darkgrey */
	clear: both; }

h2, .subtitle {
	border-bottom: 1px solid #eaebef; /*murder-grey*/
	display: block;
	font-size: inherit;
	font-weight: bold;
	margin: 0 0 .3em 0; }
h2 > *, .subtitle > * {
	float: right;
	margin-left: .75em; }

.apartee {
	background-color: #eaebef; /*murder-grey*/
	border: 1px dashed #a9a9a9; /*html-darkgrey*/
	border-radius: 6px;
	padding: .1em .25em;
	font-size: .75rem; }

.float-right { /* Shamefully stolen from Bootstrap until I can purge it.*/
	float: right; }

.br { /*for 'breathing room' after a paragraph. Does not simply replace random <br>s in my code, no sir. Obviously not. */
	margin-bottom: 0.75rem; }

/********************
 * Printing tweaks
 */

@media print {
	.newPage { page-break-before: always; }
	.noprint { display: none !important; }

	/* make stuff smaller, so more can fit on a page. */
	body { font-size: 14px !important; }
}