/** Created by Rémi Doutre, 2015-2024. Public domain. **/

@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&display=swap");
/**
 * Palette inspiration: https://www.color-hex.com/color-palette/23446
 * 'Murder and Murdered' by simoneurso
 * #0b0608 murder-black
 * #872927 murder-brown
 * #fcf7f9 murder-white
 * #eaebef murder-grey
 * #c62825 murder-red
 *
 * #2573c6 virtue-blue (derived of murder-red)
 * #5a9b1d serene-green (derived of murder-red)
 **/
:root {
	--tint-white: #ffffff;
	--tint-light: #eaebef;
	--tint-grey: #a9a9a9;
	--tint-dark: #595959;
	--tint-black: #0b0608;
	--murder-red: #c62825;
	--virtue-blue: #2573c6;
	--serene-green: #5a9b1d;

	--divination-blue: #2613f2;
	--conjuration-green: #13aa26;
	--illusion-grey: #aaaaaa;
	--evocation-red: #f22613;
	--abjuration-gold: #ffb856;
	--transmutation-teal: #2599b9;
	--enchantment-lilac: #bf55ec;
	--necromancy-purple: #800080;

	font-size: 16px;
	font-family: 'Roboto', 'Segoe UI', sans-serif;
	color: var(--tint-black);
}
* {
	box-sizing: border-box;
	line-height: 1.2em;
}
body { margin: 0; }
a, a:link, a:visited, a:active {
	color: var(--murder-red);
	text-decoration: none;
	cursor: pointer;
}
a:hover {
	text-decoration: underline;
	text-shadow: 0px 0px 1px;
}
hr {
	border: none;
	border-bottom: 1px solid var(--tint-dark);
	clear: both;
}
code {
	display: inline-block;
	background-color: var(--tint-light);
	border-radius: .25em;
	padding: 0 .15em;
}
ul, ol, dl, p { margin: 0 0 .75em 0; }
dt { font-weight: bold; }
summary { cursor: pointer; }
img {
	max-width: 100%;
	max-height: 100vh;
	display: block;
	margin: 0 auto;
}

/********************
 * Basic page layout	(.container, #fixref)
 */

body > .container { padding: 10px 25px .5px 25px; }
@media screen and (min-width: 576px) {
	body {
		overflow-y: scroll;
		background-color: var(--tint-light);
	}
	body > .container {
		background-color: var(--tint-white);
		border-left: 1px solid var(--tint-grey);
		border-right: 1px solid var(--tint-grey);
		margin: 0 auto;
		max-width: 540px;
		min-height: 100vh;
	}
	body > .container::after { /* clearfix */
		content: "";
		display: block;
		clear: both;
	}
}
@media screen and (min-width: 768px) {
	body > .container { max-width: 720px; }
}
@media screen and (min-width: 992px) {
	body > .container { max-width: 960px; }
}
@media screen and (min-width: 1200px) {
	body > .container { max-width: 1140px; }
}

#fixref {
	border-width: 0;
	border-style: solid;
	border-color: var(--tint-grey);
	border-bottom-width: 1px;
	background-color: var(--tint-white);
	text-align: center;
}
.container ~ #fixref {
	margin-top: .75em;
	border-bottom-width: 0;
	border-top-width: 1px;
}
#fixref > ul {
	display: flex;
	justify-content: space-evenly;
	align-items: flex-end;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
}
#fixref > ul > li {
	display: block;
	margin: .75rem;
	font-size: .75rem;
}
#fixref > ul > li > *::before {
	content: "?"; /* override this with useful icons */
	display: block;
	padding: .15rem;
	font-size: 1.5rem;
	font-weight: bold;
}
#fixref > ul > li > *.home::before { content: "\2302"; content: "⌂"; } /* overrides should look like this */

@media screen and (min-width: 576px){
	#fixref {
		position: fixed;
		bottom: .5rem;
		right: .5rem;
		z-index: 5;
		margin: 0;
		border-width: 1px;
		border-radius: 3px;
		padding: .1em .25em;
	}
	.container ~ #fixref { border-bottom-width: 1px; }
	#fixref > ul {
		display: block;
	}
	#fixref > ul > li > *::before {
		display: inline-block;
		padding: 0 .15rem 0 0;
		font-size: 1rem;
	}
	#fixref > ul > li {
		display: list-item;
		margin: .5rem 0;
		font-size: 1rem;
		text-align: center;
	}
}

/********************
 * Grid
 */

@media screen and (min-width: 768px), print{
	section.row {
		display: flex;
		flex-wrap: wrap;
		margin-left: -.5rem;
		margin-right: -.5rem;
	}
	section.row > * {
		flex: 2;
		margin-left: .5rem;
		margin-right: .5rem;
		margin-bottom: auto;
	}
	section.row > .br, section.row > ul { margin-bottom: .75em; }
	section.row > .slim { flex: 1; }
	section.row > .ample { flex: 3; }
	section.row > .wide { flex: 4; }
	section.row > .wider { flex: 6; }
	section.row > .widest { flex: 8; }
}

/********************
 * Custom Components   (h1/header, h2/.subtitle, .br)
 */

header {
	padding: 8px;
	margin: 0px -15px 15px -15px;
	border-radius: 6px;
	text-align: center;
	background-color: var(--murder-red);
	border: 1px solid var(--murder-red);
	box-shadow: 2px 2px 2px var(--tint-grey);
	color: var(--tint-white);
	text-shadow: 1px 1px 2px var(--tint-black);
}
header a { color: var(--tint-white); }
header h1 {
	font-size: inherit;
	font-weight: bold;
	margin: 0;
}

h2, .subtitle {
	border-bottom: 1px solid var(--tint-light);
	display: block;
	font-size: inherit;
	font-weight: bold;
	margin: 0 0 .3em 0;
}
summary.subtitle { display: list-item; } /* display:block; makes the arrow thing disappear */
h2 > *:not(a), .subtitle > *:not(a) {
	float: right;
	margin-left: .75em;
}

h2 + p,
.condensed { font-size: .8rem; }
.br { margin-bottom: 0.75em; } /*for 'breathing room' after a paragraph. Does not simply replace random <br>s in my code, no sir. Obviously not. */

/********************
 * images (#main-picture, .gallery)
 */

#main-picture {
	display: block;
	margin: 0 auto;
	text-align: center; }
img#main-picture,
#main-picture img {
	cursor: pointer;
	margin-bottom: .75em;
	border: 2px solid var(--tint-grey);
	border-radius: 1em;
	background-color: var(--tint-black); /* same as the patch for Chrome in dialog.gallery below */
	box-shadow: 2px 2px 2px var(--tint-grey); }
@media screen and (min-width: 768px) and (max-width: 991px) {
	img#main-picture, #main-picture img { max-height: 300px; }
}
@media print, screen and (min-width: 992px) {
	#main-picture {
		float: right;
		max-width: 200px;
		margin-left: .25em; }
}
@media screen and (min-width: 1200px) {
	#main-picture { max-width: 285px; }
}
dialog.info,
dialog.gallery {
	border: .15rem solid var(--tint-black);
	border-radius: .5rem;
	@media print { display: none; }
	animation: animateDown 0.2s linear forwards;
}
dialog.info {
	background-color: var(--tint-white);
	width: calc(100vw - 1rem);
	@media screen and (min-width: 576px) { width: 540px; }
	@media screen and (min-width: 768px) { width: 720px; }
	@media screen and (min-width: 992px) { width: 960px; }
	@media screen and (min-width: 1200px) { width: 1140px; }
}
dialog.gallery {
	padding: 0;
	background-color: var(--tint-black); /* patches a weird 1px gap left of the image in Chrome */
	color: var(--tint-white);
	text-shadow: 0 0 2px var(--tint-black);
}
dialog.info::backdrop,
dialog.gallery::backdrop {
	background-color: rgba(100,100,100,0.8);
	cursor: pointer;
}
dialog.gallery > h2 {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0;
	border: none;
	padding: 1em;
	background: linear-gradient(rgba(11,6,8,0), rgba(11,6,8,0.66)); /* 11,6,8 is --tint-black */
}
dialog.gallery a, dialog.gallery a:link, dialog.gallery a:visited, dialog.gallery a:active { color: var(--tint-white); }
dialog.info > b,
dialog.gallery > b {
	position: absolute;
	top: 0;
	right: 0;
	padding: 1em;
	cursor: pointer;
	background: radial-gradient(circle, rgba(11,6,8,0.33), rgba(11,6,8,0) 50%);
}
dialog.gallery img { max-height: calc(100vh - 3em); }
dialog.info dl > dt { font-variant: small-caps; }

@keyframes animateDown {
	0% { opacity: 0; transform: translatey(-1.5rem); }
	100% { opacity: 1; transform: translatey(0); }
}

/********************
 * tables (table, .table-cornered, TableSort library)
 */

table { width: 100%; border-collapse: collapse; }
table > thead > tr > th { border-bottom: 1px solid var(--tint-grey); }
table th, table td { padding: .15em; }
table > tbody > tr:hover { background-color: var(--tint-light); }

table.table-cornered th,
table.table-cornered td {
	border-left: 1px solid var(--tint-grey);
	border-bottom: 1px solid var(--tint-grey);
	color: var(--tint-black);
	text-align:center;
	width:25%;
}

/* MIT License https://github.com/tristen/tablesort */
th[role=columnheader]:not(.no-sort) {
	cursor: pointer;
}
th[role=columnheader]:not(.no-sort):after {
	content: '';
	float: right;
	margin-top: .5em;
	border-width: 0 .25em .25em;
	border-style: solid;
	border-color: var(--tint-black) transparent;
	visibility: hidden;
	opacity: 0;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
th[aria-sort=descending]:not(.no-sort):after {
	border-bottom: none;
	border-width: .25em .25em 0;
}
th[aria-sort]:not(.no-sort):after {
	visibility: visible;
	opacity: 0.4;
}
th[role=columnheader]:not(.no-sort):hover:after {
	visibility: visible;
	opacity: 1;
}

/********************
 * Printing tweaks
 */

@media print {
	.newPage { page-break-before: always; }
	.noprint, #fixref { display: none !important; }

	/* make stuff smaller, so more can fit on a page. */
	:root { font-size: 12px !important; }

	/* less padding. Removes negative margin on header, rounded corners were cut off. */
	body { padding: 0; }
	header { margin-left: 0; margin-right: 0; }
}