@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css");
/** Created by Rémi Doutre, 2015-2018. Public domain. **/

/**
 * Custom Palette:
 * 'Valiance' by Greytyphoon
 * #0b0608 murder-black
 * #eaebef murder-grey
 * #c62825 murder-red
 * #ffffff html-white
 * #a9a9a9 html-darkgrey
 *
 * Palette inspiration: http://www.color-hex.com/color-palette/23446
 * 'Murder and Murdered' by simoneurso
 * #0b0608 murder-black
 * #872927 murder-brown
 * #fcf7f9 murder-white
 * #eaebef murder-grey
 * #c62825 murder-red
 **/
body { color: #0b0608; /*murder-black*/ }

ul,li { line-height: 1.15em; }

a, a:link, a:visited, a:active {
    color: #c62825; /*murder-red*/}
a:hover {
    text-shadow: 0px 0px 1px; }

@media screen {
    body {
        overflow-y: scroll;
        background-color: #eaebef; /*murder-grey*/
    }
    body > .container {
        background-color: #ffffff; /*html-white*/
        border-left: 1px solid #a9a9a9; /*html-darkgrey*/
        border-right: 1px solid #a9a9a9; /*html-darkgrey*/
        padding-top: 10px;
        min-height: 100%;
    }
}
@media print {
    .newPage { page-break-before: always; }
    .noprint { display: none !important; }
    
    /* make stuff smaller, so more can fit on a page. */
    body { font-size: 16px !important; }

    /* fix a Chrome Bug where the width when printing is always 550px... I want Bootstrap-lg when printing, though */
    .container { max-width: none !important; }
}

/********************
 * Custom Components   (#fixref, #header, .title, .subtitle, .apartee, .tabbed-detail, .br, dl.competences)
 */

#fixref  {
    background-color: #ffffff; /*html-white*/
    border: 1px solid #a9a9a9; /*html-darkgrey*/
    border-radius: 3px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 5;}
@media print { #fixref { display: none; } }
@media screen and (max-width: 767px){
    #fixref {
        position: initial;
        border-radius: 0px;
        text-align: center;
    }
}

#header {
    padding: 8px;
    margin: 0px 0px 15px 0px;
    border-radius: 6px;
    text-align: center;
    font-size: 1.15em;
    background-color: #c62825; /*murder-red*/
    border: 1px solid #c62825; /*murder-red*/
    box-shadow: 2px 2px 2px #a9a9a9;} /*html-darkgrey*/

/* Section titles, encased in two black lines */
.title {
    border-top: 1px solid #0b0608; /*murder-black*/
    border-bottom: 1px solid #0b0608; /*murder-black*/
    font-size: 1.15em; }

.subtitle {
    border-bottom: 1px solid #eaebef; /*murder-grey*/
    display: block;
    font-size: 1.15em;
    font-weight: bold;
    margin-bottom: 5px; }
    
.apartee {
    background-color: #eaebef; /*murder-grey*/
    border: 1px dashed #a9a9a9; /*html-darkgrey*/
    border-radius: 6px;
    padding: 5px;
    font-size: .85em; }

/* displayed on the line below what they affect, slightly smaller, with a "tab" */
.tabbed-detail {
    font-size: .85em;
    margin-left: 20px; }

.br { /*for 'breathing room' after a paragraph. Does not simply replace random <br>s in my code, no sir. Obviously not. */
    margin-bottom: 0.75rem; }

dl.competences {
    line-height: 1.4em;
    margin-bottom: 1.15rem; }
dl.competences > dt {
    color: #a9a9a9; /*html-darkgrey*/
    font-weight: normal;
    font-style: italic;
    float: left;
    text-align: right;
    min-width: 145px;
    vertical-align: top; }
dl.competences > dd {
    margin-left: 150px; /* the floating <dt> will go above this margin */
    margin-bottom: 0; /* overwrite bootstrap */}