/** Created by Rémi Doutre, 2015-2019. Public domain. **/

@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700&display=swap");
/**
 * Palette inspiration: https://www.color-hex.com/color-palette/23446
 * 'Murder and Murdered' by simoneurso
 * #0b0608 murder-black
 * #872927 murder-brown
 * #fcf7f9 murder-white
 * #eaebef murder-grey
 * #c62825 murder-red
 *
 * Custom Palette 'Valiance':
 **/
:root {
	--murder-black: #0b0608;
	--murder-grey: #eaebef;
	--murder-red: #c62825;
	--html-white: #ffffff;
	--html-darkgrey: #a9a9a9;

	font-size: 16px;
	font-family: 'Roboto', 'Segoe UI', sans-serif;
	color: var(--murder-black); }
* {
	box-sizing: border-box;
	line-height: 1.2em; }
body { margin: 0; }
a, a:link, a:visited, a:active {
	color: var(--murder-red);
	text-decoration: none;
	cursor: pointer; }
a:hover {
	text-decoration: underline;
	text-shadow: 0px 0px 1px; }
ul, ol, dl, p { margin: 0 0 .75em 0; }

/********************
 * Basic page layout	(.container, #fixref, header)
 */

body > .container { padding: 10px 25px .5px 25px; }
@media screen and (min-width: 576px) {
	body {
		overflow-y: scroll;
		background-color: var(--murder-grey); }
	body > .container {
		background-color: var(--html-white);
		border-left: 1px solid var(--html-darkgrey);
		border-right: 1px solid var(--html-darkgrey);
		margin: 0 auto;
		max-width: 540px;
		min-height: 100vh; }
	body > .container::after {
		content: "";
		display: block;
		clear: both; } /* clearfix */
}
@media screen and (min-width: 768px) {
	body > .container { max-width: 720px; }
}
@media screen and (min-width: 992px) {
	body > .container { max-width: 960px; }
}
@media screen and (min-width: 1200px) {
	body > .container { max-width: 1140px; }
}

#fixref  {
	background-color: var(--html-white);
	text-align: center; }
#fixref:first-child { border-bottom: 1px solid var(--html-darkgrey); }
#fixref:last-child { border-top: 1px solid var(--html-darkgrey); }
@media screen and (min-width: 768px){
	#fixref {
		position: fixed;
		bottom: .5rem;
		right: .5rem;
		z-index: 5;
		border: 1px solid var(--html-darkgrey);
		border-radius: 3px;
		padding: .1em .25em;
	}
}

header {
	padding: 8px;
	margin: 0px -15px 15px -15px;
	border-radius: 6px;
	text-align: center;
	background-color: var(--murder-red);
	border: 1px solid var(--murder-red);
	box-shadow: 2px 2px 2px var(--html-darkgrey); }
header h1 {
	font-size: inherit;
	font-weight: bold;
	margin: 0; }

/********************
 * Grid
 */
@media screen and (min-width: 768px), print{
	section.row { display: flex; flex-wrap: wrap; }
	section.row > * { flex: 1; margin-bottom: auto; }
	section.row > * + * { margin-left: 1rem; }
}

/********************
 * Custom Components   (h2, .apartee)
 */
h2 {
	border-bottom: 1px solid var(--murder-grey);
	display: block;
	font-size: inherit;
	font-weight: bold;
	margin: .75em 0 .5em 0; }
.apartee {
	list-style: none;
	float: right;
	background-color: var(--murder-grey);
	border: 1px dashed var(--html-darkgrey);
	border-radius: 6px;
	padding: .25em .5em;
	font-size: .75rem;
	text-align: center; }

/********************
 * Printing tweaks
 */

@media print {
	.newPage { page-break-before: always; }
	.noprint { display: none !important; }

	/* make stuff smaller, so more can fit on a page. */
	:root { font-size: 12px !important; }

	/* less padding. Removes negative margin on header, rounded corners were cut off. */
	body { padding: 0; }
	header { margin-left: 0; margin-right: 0; }
	dl.competences > dt { min-width: 95px !important; }
	dl.competences > dd { margin-left: 100px !important; }
}

ul.general { list-style: circle; }

/********************
 * .timeline, to be filled with .experience
 */
.timeline {
	position: relative;
	margin-left: 4em;
}
.timeline:before { /* The vertical line at the middle */
	content: "";
	width: .5rem;
	height: 100%;
	position: absolute;
	top: .25rem;
	left: -2.25rem;
	background: var(--murder-grey);
	border-radius: .25rem;
}
.timeline > .experience { position: relative; }
.timeline > .experience > time { /* The circle on the timeline with the number */
	position: absolute;
	top: 0;
	left: -3.75rem;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 3rem;
	height: 3rem;
	border: 3px solid var(--murder-red);
	border-radius: 50%;
	background-color: var(--html-white);
	color: var(--murder-black);
	text-shadow: 0 1px 0 var(--murder-black);
	z-index: 1;
}
.timeline > .experience > time:before { /* The pointy thing that connects to the timeline */
	content: "";
	position: absolute;
	left: 100%;
	display: inline-block;
	width: 0;
	height: 0;
	border-top: .75rem solid transparent;
	border-bottom: .75rem solid transparent;
	border-left: .75rem solid var(--murder-red);
	z-index: 1;
}
:not(.timeline) > .experience > time { display: none; }

/********************
 * .experience, and what's inside
 */
.experience {
	border: 3px solid var(--murder-red);
	border-radius: 0 1rem;
	margin-bottom: 1rem;
	padding: 0 .75rem;
	page-break-inside: avoid;
}
.experience > h3 {
	color: var(--html-white);
	background-color: var(--murder-red);
	border-top-right-radius: 10px;
	font-size: 1rem;
	margin: -1px calc(-.75rem - 1px) .75rem calc(-.75rem - 1px);
	padding: .5rem;
}
.experience > em {
	display: block;
	margin: 0 .75em;
	text-align: center;
}
.experience > em.organisation { font-weight: bold; }
.experience > em.time-range { color: var(--html-darkgrey); }

.experience > ul {
	margin: .75rem;
	padding-left: 1.25rem;
}
.experience > a { display: none; }

dl.competences > dt {
	color: var(--html-darkgrey);
	font-style: italic;
	float: left;
	text-align: right;
	min-width: 145px;
}
dl.competences > dd { margin-left: 150px; } /* the floating <dt> will go above this margin */
dl.projects > dt {
	color: var(--html-darkgrey);
	font-weight: bold;
}
dl.projects > dd { margin-bottom: .75rem; }