/** Created by Rémi Doutre, 2015-2018. Public domain. **/
@import url("../basic.css");

/**
 * Custom Palette:
 * 'Minuet' by Greytyphoon
 * #0b0608 murder-black
 * #eaebef murder-grey
 * #74C625 minuet-green (derived of murder-red)
 * #ffffff html-white
 * #a9a9a9 html-darkgrey
 **/
:root {
	--minuet-green: #74C625;
	--murder-red: var(--minuet-green); }

/********************
 * Custom Components   (.credit)
 */

/* I use this when I want to say who taught me this song. */
span.credit { /* inspired from Pathfinder's .listBonuses */
	display: inline-block;
    color: var(--html-darkgrey);
    font-size: .75rem; }
span.credit::before { content: "("; }
span.credit::after { content: ")"; }
