/** Created by Rémi Doutre, 2015-2023. Public domain. **/
@import url("../basic.css");

:root { --murder-red: var(--serene-green); }

/********************
 * Custom Components   (.credit)
 */

/* I use this when I want to say who taught me this song. */
.credit { /* inspired from Pathfinder's .listBonuses */
	display: inline-block;
	color: var(--tint-dark);
	font-size: .75rem; }
.credit::before { content: "("; }
.credit::after { content: ")"; }

.lyrics { margin-left: 2em; }

.refrain { font-style: italic; color: var(--tint-dark); }

.reprise::before { content: "\21bb "; content: "↻ "; color: var(--tint-dark); }

@media print {
	details { page-break-inside: avoid; }
}
