/** Created by Rémi Doutre, 2015-2019. Public domain. **/
@import url("pfGeneric.css");

ul, ol, dl {
	padding: 0;
	list-style: none; }

/********************
 * Specific Styling
 */

/*top of the page*/
#headerInfo {
	font-size:.75rem; }
dl.charInfo > dt {
	float: left;
	text-align: right;
	font-weight: bold;
	min-width: 39%;
	vertical-align: top; }
dl.charInfo > dd {
	margin-left: 40%; } /* the floating <dt> will go above this margin */
#subheader  {
	background-color: var(--murder-grey);
	border: 1px dashed var(--html-darkgrey);
	border-radius: 4px;
	padding: 2px;
	font-size: 1rem; }
#subheader > dd.archetype  {
	font-size: .75rem; }
/* Removes redundant margin at top of page, and makes the subheader's BG not take all the height */
@media print, screen and (min-width: 768px) {
	section.row > .charInfo { margin-bottom: auto; }
}

/*feats*/
dl#featsWrapper > dt{
	float:left;
	text-align: right;
	font-variant: small-caps;
	font-weight: bold;
	width: 95px; /*longer names should be shortened*/
	vertical-align: top; }
dl#featsWrapper > dd{
	margin-left: 100px; } /* the floating <dt> will float above this margin */

@media print, screen and (min-width: 768px) {
	#featsWrapper { float: right; }
}
@media print {
	#featsWrapper small { display: none !important; }
}

/*spells*/
#spellHeader.apartee {
	font-size: .6rem; /*overrides apartee's font-size*/
	margin-bottom: .75rem;
	padding: 1em; /*overrides apartee's padding*/}

/*weapons*/
.weapon {
	border: 1px solid var(--murder-red);
	border-radius: 4px;
	padding: 4px 10px;
	margin-bottom: 0.75rem; }
.weapon > h2 {
	background-color: var(--murder-red);
	color: var(--html-white);
	border-bottom: 1px solid var(--murder-red);
	margin: -4px -10px 4px -10px;
	padding: .15em .5em; }
.weapon > .summation > strong:first-child {
	min-width: unset;
	margin-left: -1rem;
	font-weight: bold; }

/*equipments*/
#mundaneItemsWrapper{
	float: right;
	font-size: 0.75rem;
	margin-left: 1rem; }
#magicItemsWrapper{
	float: right;
	text-align: right; }
.emptyitemslot {
	color: var(--html-darkgrey); }
@media screen and (max-width: 767px) {
	#mundaneItemsWrapper{
		display: none; }
	#magicItemsWrapper{
		float: none;
		text-align: left;}
	.emptyitemslot {
		display: none; }
}
@media print {
	#inventory small { display: none !important; }
}

/*source*/
#sources { font-size: .6rem; float: right; }
ul#sources ul { margin-left: 1rem; }
#sources:before {
	content: "Sources:";
	font-weight: bold;
	float: left;
	margin-left: -44px;
	width: 44px; }

/*xp*/
#xp {
	display: block;
	margin-top: -1.2em;
	text-align: left;
	color: var(--html-white); }

#fixref > ul > li > a.notes::before { content: "\1f5c8"; content: "🗈"; }
#fixref > ul > li > a.companion::before,
#fixref > ul > li > a.familiar::before { content: "\2658"; content: "♘"; }
#fixref > ul > li > a.master::before { content: "\2654"; content: "♔"; }

/* find more at https://graphemica.com/characters/tags/animal */
#fixref > ul > li > a.familiar.mouse::before { content: "\1f401"; content: "🐁"; }
#fixref > ul > li > a.familiar.snake::before { content: "\1f40d"; content: "🐍"; }
#fixref > ul > li > a.familiar.bird::before { content: "\1f426"; content: "🐦"; }
#fixref > ul > li > a.companion.dragon::before { content: "\1f409"; content: "🐉"; }
#fixref > ul > li > a.companion.crocodile::before { content: "\1f40a"; content: "🐊"; }
#fixref > ul > li > a.companion.horse::before { content: "\1f40e"; content: "🐎"; }
#fixref > ul > li > a.companion.wolf::before { content: "\1f43a"; content: "🐺"; }
#fixref > ul > li > a.companion.bear::before { content: "\1f43b"; content: "🐻"; }