/** Created by Rémi Doutre, 2015-2022. Public domain. **/
@import url("pfGeneric.css");

ul:not(.list), ol:not(.list), dl:not(.list) {
	padding: 0;
	list-style: none; }
dl.bardic > dd + dt { margin-top: .75em; }
dl.bardic > dt > small { color: var(--enchantment-lilac); }

/********************
 * Specific Styling
 */

/*top of the page*/
#headerInfo {
	font-size:.75rem; }
dl.charInfo > dt {
	float: left;
	text-align: right;
	min-width: 39%; }
dl.charInfo > dd {
	margin-left: 40%; } /* the floating <dt> will go above this margin */
#subheader {
	border: 1px dotted var(--html-darkgrey);
	border-radius: .5em;
	padding: .1em;
	font-size: 1rem; }
#subheader > dd.archetype {
	font-size: .75rem; }
dl#subheader > dd.archetype::before {
	content: "·\a0"; }
/* Removes redundant margin at top of page, and makes the subheader's border-box not take all the height */
@media print, screen and (min-width: 768px) {
	section.row > .charInfo { margin-bottom: auto; }
}

/*main-picture*/
#main-picture {
	display: block;
	margin: 0 auto;
	text-align: center; }
img#main-picture,
#main-picture img {
	margin-bottom: .75em;
	border: 2px solid var(--html-darkgrey);
	border-radius: 1em;
	background-color: var(--murder-black); /* same as the patch for Chrome in dialog.gallery below */
	box-shadow: 2px 2px 2px var(--html-darkgrey); }
@media screen and (min-width: 768px) and (max-width: 991px) {
	img#main-picture, #main-picture img { max-height: 300px; }
}
@media print, screen and (min-width: 992px) {
	#main-picture {
		float: right;
		max-width: 200px;
		margin-left: .25em; }
}
@media screen and (min-width: 1200px) {
	#main-picture { max-width: 285px; }
}
dialog.gallery[open] {
	border: .15rem solid var(--murder-black);
	padding: 0;
	border-radius: .5rem;
	background-color: var(--murder-black); /* patches a weird 1px gap left of the image in Chrome */
	color: var(--html-white);
	text-shadow: 0 0 2px var(--murder-black); }
dialog.gallery::backdrop {
	background-color: rgba(100,100,100,0.8);
	cursor: pointer; }
dialog.gallery > h2 {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0;
	border: none;
	padding: 1em;
	background: linear-gradient(rgba(11,6,8,0), rgba(11,6,8,0.66)); } /* 11,6,8 is --murder-black */
dialog.gallery a, dialog.gallery a:link, dialog.gallery a:visited, dialog.gallery a:active { color: var(--html-white); }
dialog.gallery > b {
	position: absolute;
	top: 0;
	right: 0;
	padding: 1em;
	cursor: pointer;
	background: radial-gradient(circle, rgba(11,6,8,0.33), rgba(11,6,8,0) 50%); }
dialog.gallery img { max-height: calc(100vh - 3em); }

/*feats*/
dl#featsWrapper > dt{
	float:left;
	text-align: right;
	font-variant: small-caps;
	width: 95px; /*longer names should be shortened*/
	vertical-align: top; }
dl#featsWrapper > dd{
	margin-left: 100px; } /* the floating <dt> will float above this margin */

@media print, screen and (min-width: 768px) {
	#featsWrapper { float: right; }
}
@media print {
	#featsWrapper small { display: none !important; }
}

/*spells*/
#spellHeader.apartee {
	font-size: .6rem; /*overrides apartee's font-size*/
	margin-bottom: .75rem;
	padding: 1em; /*overrides apartee's padding*/}

/*weapons*/
.weapon {
	--weapon-color: var(--murder-red);
	border: 1px solid var(--weapon-color);
	border-radius: 4px;
	padding: 4px 10px;
	margin-bottom: 0.75rem;
	box-shadow: 1px 1px var(--weapon-color); }
.weapon > h2 {
	background-color: var(--weapon-color);
	color: var(--html-white);
	text-shadow: 1px 1px 1px var(--murder-black);
	border-bottom: 1px solid var(--weapon-color);
	margin: -4px -10px 4px -10px;
	padding: .15em .5em; }
.weapon > .summation > strong:first-child {
	min-width: unset;
	margin-left: -1rem;
	font-weight: bold; }

/*equipments*/
#mundaneItemsWrapper{
	float: right;
	font-size: 0.75rem;
	margin-left: 1rem; }
#magicItemsWrapper{
	float: right;
	text-align: right; }
.emptyitemslot {
	color: var(--html-darkgrey); }
@media screen and (max-width: 767px) {
	#mundaneItemsWrapper{
		display: none; }
	#magicItemsWrapper{
		float: none;
		text-align: left;}
	.emptyitemslot {
		display: none; }
}
@media print {
	#inventory small { display: none !important; }
}

/*source*/
#sources { font-size: .6rem; float: right; }
ul#sources ul { margin-left: 1rem; }
#sources:before {
	content: "Sources:";
	font-weight: bold;
	float: left;
	margin-left: -44px;
	width: 44px; }

/*xp*/
@media (min-width: 768px) {
	#xp { margin-top: -1.2em; text-align: right; }
}

#fixref > ul > li > *.notes::before { content: "\1f4dd"; content: "📝"; }
#fixref > ul > li > *.companion::before,
#fixref > ul > li > *.familiar::before { content: "\2658"; content: "♘"; }
#fixref > ul > li > *.master::before { content: "\2654"; content: "♔"; }

/* find more at https://graphemica.com/characters/tags/animal */
#fixref > ul > li > *.familiar.mouse::before { content: "\1f401"; content: "🐁"; }
#fixref > ul > li > *.familiar.snake::before { content: "\1f40d"; content: "🐍"; }
#fixref > ul > li > *.familiar.bird::before { content: "\1f426"; content: "🐦"; }
#fixref > ul > li > *.familiar.bat::before { content: "\1f987"; content: "🦇"; }
#fixref > ul > li > *.companion.dragon::before { content: "\1f409"; content: "🐉"; }
#fixref > ul > li > *.companion.crocodile::before { content: "\1f40a"; content: "🐊"; }
#fixref > ul > li > *.companion.horse::before { content: "\1f40e"; content: "🐎"; }
#fixref > ul > li > *.companion.wolf::before { content: "\1f43a"; content: "🐺"; }
#fixref > ul > li > *.companion.bear::before { content: "\1f43b"; content: "🐻"; }
#fixref > ul > li > *.companion.bull::before { content: "\1f43b"; content: "🐂"; }