/** Created by Rémi Doutre, 2015-2024. Public domain. **/
@import url("pfGeneric.css");

ul:not(.list), ol:not(.list), dl:not(.list) {
	padding: 0;
	list-style: none; }
dl.bardic > dd + dt { margin-top: .75em; }
dl.bardic > dt > small { color: var(--enchantment-lilac); }

/********************
 * Specific Styling
 */

/*top of the page*/
#headerInfo {
	font-size:.75rem; }
dl.charInfo > dt {
	float: left;
	text-align: right;
	min-width: 39%; }
dl.charInfo > dd {
	margin-left: 40%; } /* the floating <dt> will go above this margin */
#subheader {
	border: 1px dotted var(--tint-grey);
	border-radius: .5em;
	padding: .1em;
	font-size: 1rem; }
#subheader > dd.archetype {
	font-size: .75rem; }
dl#subheader > dd.archetype::before {
	content: "·\a0"; }
/* Removes redundant margin at top of page, and makes the subheader's border-box not take all the height */
@media print, screen and (min-width: 768px) {
	section.row > .charInfo { margin-bottom: auto; }
}

/*feats*/
dl#featsWrapper > dt{
	float:left;
	text-align: right;
	font-variant: small-caps;
	width: 95px; /*longer names should be shortened*/
	vertical-align: top; }
dl#featsWrapper > dd{
	margin-left: 100px; } /* the floating <dt> will float above this margin */

@media print, screen and (min-width: 768px) {
	#featsWrapper { float: right; }
}
@media print {
	#featsWrapper small { display: none !important; }
}

/*spells*/
#spellHeader.apartee {
	font-size: .6rem; /*overrides apartee's font-size*/
	margin-bottom: .75rem;
	padding: 1em; /*overrides apartee's padding*/}

/*weapons*/
.weapon {
	--weapon-color: var(--murder-red);
	border: 1px solid var(--weapon-color);
	border-radius: 4px;
	padding: 4px 10px;
	margin-bottom: 0.75rem;
	box-shadow: 1px 1px var(--weapon-color); }
.weapon > h2 {
	background-color: var(--weapon-color);
	color: var(--tint-white);
	text-shadow: 1px 1px 1px var(--tint-black);
	border-bottom: 1px solid var(--weapon-color);
	margin: -4px -10px 4px -10px;
	padding: .15em .5em; }
.weapon > .summation > strong:first-child {
	min-width: unset;
	margin-left: -1rem;
	font-weight: bold; }
.range.strict::before { content: '≤';  font-weight: normal; }

/*equipments*/
@media print, screen and (min-width: 768px) {
	#mundaneItemsWrapper{
		float: right;
		font-size: 0.75rem;
		margin-left: 1rem; }
	#magicItemsWrapper{
		float: right;
		text-align: right; }
}
.emptyitemslot { color: var(--tint-dark); }
@media screen and (max-width: 767px) {
	.emptyitemslot { display: none; }
}
@media print {
	#inventory small { display: none !important; }
}

/*wishlist*/
#wishlist {
	display: inline-block;
	width: unset;
	margin-bottom: .75em;
	border: 1px dashed var(--tint-grey);
	border-radius: 6px;
	padding: .25em .5em;
	font-size: .75rem;
}
@media print, screen and (min-width: 768px) {
	#wishlist { float: right; }
}
table#wishlist td + td {
	padding-left: .75em;
	text-align: right;
}

/*source*/
#sources { font-size: .6rem; float: right; }
ul#sources ul { margin-left: 1rem; }
#sources:before {
	content: "Sources:";
	font-weight: bold;
	float: left;
	margin-left: -44px;
	width: 44px; }

/*xp*/
@media (min-width: 768px) {
	#xp { margin-top: -1.2em; text-align: right; }
}
.container:not(.future) .coming-soon { display: none; }

#fixref > ul > li > *.notes::before { content: "\1f4dd"; content: "📝"; }
#fixref > ul > li > *.companion::before,
#fixref > ul > li > *.familiar::before { content: "\2658"; content: "♘"; }
#fixref > ul > li > *.master::before { content: "\2654"; content: "♔"; }

/* find more at https://graphemica.com/characters/tags/animal */
#fixref > ul > li > *.familiar.mouse::before { content: "\1f401"; content: "🐁"; }
#fixref > ul > li > *.familiar.snake::before { content: "\1f40d"; content: "🐍"; }
#fixref > ul > li > *.familiar.bird::before { content: "\1f426"; content: "🐦"; }
#fixref > ul > li > *.familiar.owl::before { content: "\1f989"; content: "🦉"; }
#fixref > ul > li > *.familiar.bat::before { content: "\1f987"; content: "🦇"; }
#fixref > ul > li > *.companion.dragon::before { content: "\1f409"; content: "🐉"; }
#fixref > ul > li > *.companion.crocodile::before { content: "\1f40a"; content: "🐊"; }
#fixref > ul > li > *.companion.horse::before { content: "\1f40e"; content: "🐎"; }
#fixref > ul > li > *.companion.wolf::before { content: "\1f43a"; content: "🐺"; }
#fixref > ul > li > *.companion.bear::before { content: "\1f43b"; content: "🐻"; }
#fixref > ul > li > *.companion.bull::before { content: "\1f43b"; content: "🐂"; }