/** Created by Rémi Doutre, 2015-2019. Public domain. **/
@import url("../../basic.css");

/********************
 * Custom Components (.summation(s), strong, small, .circumstancialBonus)
 */

/* Every line has some padding. The first element gets to bypass it on the first line, creating a reverse indent. */
.summation,
ul.summations > li {
	padding-left: 1rem; }

/* number at the beginning of a line get an Excel-like "cell", aligned right inside it, so the skills/names/whatevers line up. */
.summation > strong:first-child,
ul.summations > li > strong:first-child {
	display: inline-block;
	margin-left: -2rem;
	min-width: 2rem;
	text-align: right;
	font-weight: normal; }

/* Uniform style and auto-parenthesis for anywhere I list bonus types */
small {
	display: inline-block;
	color: var(--html-darkgrey);
	font-size: .75rem; }
small::before { content: "("; }
small::after { content: ")"; }

/* circumstancial bonuses are displayed on the line below what they affect, slightly smaller, with a "tab" */
.circumstancialBonus {
	padding-left: 1rem;
	font-size: .75rem; }
.summation > .circumstancialBonus,
ul.summations > li > .circumstancialBonus { padding-left: 0; }

/********************
 * Side-notes
 */

.apartee {
	background-color: var(--murder-grey);
	border: 1px dashed var(--html-darkgrey);
	border-radius: 6px;
	padding: .25em .5em;
	font-size: .75rem; }

/* Right now it's mostly TWF, NaturalAttacks, and CompanionTricks. */
.apartee.float { float: right; }
.apartee.align { text-align: right; }

/********************
 * Spells and Schools
 */
.spell, a.spell { font-style:italic;}

.spell.bonus, a.spell.bonus, a.spell.bonus:visited,
.spell.domain, a.spell.domain, a.spell.domain:visited,
.spell.patron, a.spell.patron, a.spell.patron:visited,
.spell.bloodline, a.spell.bloodline, a.spell.bloodline:visited,
.spell.divination, a.spell.divination, a.spell.divination:visited{
	color: var(--divination-blue);}
.spell.conjuration, a.spell.conjuration, a.spell.conjuration:visited {
	color: var(--conjuration-green);}
.spell.illusion, a.spell.illusion, a.spell.illusion:visited{
	color: var(--illusion-grey);}
.spell.evocation, a.spell.evocation, a.spell.evocation:visited{
	color: var(--evocation-red);}
.spell.abjuration, a.spell.abjuration , a.spell.abjuration:visited{
	color: var(--abjuration-gold);}
.spell.transmutation, a.spell.transmutation, a.spell.transmutation:visited{
	color: var(--transmutation-teal);}
.spell.enchantment, a.spell.enchantment, a.spell.enchantment:visited{
	color: var(--enchantment-lilac);}
.spell.necromancy, a.spell.necromancy, a.spell.necromancy:visited{
	color: var(--necromancy-purple);}

.spell.bonus::before,
.spell.domain::before,
.spell.patron::before,
.spell.bloodline::before {
	content: "\03b4\00a0";
	display: inline-block;
	width: .8em;
	margin-left: -.8em;
	text-align: right;
	font-style: normal;	}
.spell.bonus.off-class::before,
.spell.domain.off-class::before,
.spell.patron.off-class::before,
.spell.bloodline.off-class::before { content: "\0394\00a0"; }

/********************
 * CharStudies and Tables (tblComparison / playerInfo)
 */
#tblComparison {
	text-align: center;
	font-size: .8rem; }

.awesome { background-color:#33b5e5; }
.good { background-color:#00c851; }
.average{ background-color:#ffbb33; }
.bad { background-color:#ff4444; }

table.playerInfo  {
	border: 1px solid var(--murder-grey);
	border-collapse: collapse;
	margin-bottom: .5rem;
	width: 100%; }
table.playerInfo th {
	background-color: var(--murder-grey);
	text-align: center; }
table.playerInfo td {
	border: 1px solid var(--murder-grey);
	text-align: center; }

/* icons for campaigns */
#fixref > ul > li > a.names::before { content: "\1f3ad"; content: "🎭"; }
#fixref > ul > li > a.injury::before { content: "\1f915"; content: "🤕"; }
#fixref > ul > li > a.reward::before { content: "\1f4b0"; content: "💰"; }
#fixref > ul > li > a.player::before { content: "\1f513"; content: "🔓"; }