/** Created by Rémi Doutre, 2015-2019. Public domain. **/
@import url("../../basic.css");

/********************
 * Custom Components   (.numberFirst, .listbonuses, .listBonusBreaker, .circumstancialBonus)
 */

/* number at the beginning of a line get an Excel-like "cell", aligned right inside it, so the skills/names/whatevers line up. */
.numberFirst {
    display: inline-block;
    text-align: right;
    margin-left: -15px; /*cancel the container-fluid's margin, so numbers in excess of 1em will overflow to the left in the margin.*/
    width: calc(15px + 1em); }

/* Uniform style and auto-parenthesis for anywhere I list bonus types */
.listBonuses {
    color: #a9a9a9; /*html-darkgrey*/
    font-size: 12px;
    font-family: monospace;
    font-weight: normal; }
.listBonuses:before { content: "("; }
.listBonuses:after { content: ")"; }
/*cool hack to have the listbonus on the same line, but they all break off if the display is too small, and they align with circumstancial bonuses*/
.listBonusBreaker { margin-right: -20px; }
.listBonusBreaker + .listBonuses {
    display: inline-block;
    margin-left: 20px; }

/* circumstancial bonuses are displayed on the line below what they affect, slightly smaller, with a "tab" */
.circumstancialBonus {
    font-size: 12px;
    margin-left: 20px; } /*align with the beginning of a text that goes after a .numberfirst*/

/********************
 * Spells and Schools
 */
.spell, a.spell { font-style:italic;}

.spellc, a.spellc, a.spellc:visited,
.spell.conjuration, a.spell.conjuration, a.spell.conjuration:visited {
	font-style:italic;
	color: #13aa26;} /* Green! */
.spelli, a.spelli, a.spelli:visited,
.spell.illusion, a.spell.illusion, a.spell.illusion:visited{
	font-style:italic;
	color: #aaaaaa;} /* Grey! */
.spellev, a.spellev, a.spellev:visited,
.spell.evocation, a.spell.evocation, a.spell.evocation:visited{
	font-style:italic;
	color: #f22613;} /* Red! */
.spella, a.spella, a.spella:visited,
.spell.abjuration, a.spell.abjuration , a.spell.abjuration:visited{
	font-style:italic;
	color: #f0c010;} /* Gold! */
.spellt, a.spellt, a.spellt:visited,
.spell.transmutation, a.spell.transmutation, a.spell.transmutation:visited{
	font-style:italic;
	color: #2599b9;} /* Teal! */
.spelld, a.spelld, a.spelld:visited,
.spell.divination, a.spell.divination, a.spell.divination:visited{
	font-style:italic;
	color: #2613f2;} /* Blue! */
.spellen, a.spellen, a.spellen:visited,
.spell.enchantment, a.spell.enchantment, a.spell.enchantment:visited{
	font-style:italic;
	color: #bf55ec;} /* Lilac! */
.spelln, a.spelln, a.spelln:visited,
.spell.necromancy, a.spell.necromancy, a.spell.necromancy:visited{
	font-style:italic;
	color: #800080;} /* Purple! */