/* Spells */
.spell, a.spell { font-style: italic; }
.pantheon, a.pantheon, a.pantheon:visited { color: var(--divination-blue); }

/* Resets */
h2::before, h2::after, .subtitle::before, .subtitle::after, .spell::before, .spell::after, dt::before, dt::after { font-style: normal; font-weight: normal; }

/* Actions */
.reaction::before { content: "↻\a0"; }
.no-action::before,
.swift-action::before,
.bonus-action::before { content: "◇\a0"; }
.one-action::before { content: "◆\a0"; }
.two-actions::before { content: "◈\a0"; }
.three-actions::before { content: "❖\a0"; }

/* Durations */
.until-turn-end::after { content: " this turn"; }
.until-foe-start::after { content: " for 1 round¹"; }
.until-foe-end::after { content: " for 1 round²"; }
.until-self-start::after { content: " for 1 round³"; }
.until-self-end::after { content: " for 1 round⁴"; }

/* Items */
.invested::after { content: "\a0ᶥ"; }
.worn::after { content: "\a0ʷ"; }
.gold { font-size: 1rem; margin: .5rem 0; }

/* Schools */
.spell.bonus, a.spell.bonus, a.spell.bonus:visited,
.spell.bonus::after, a.spell.bonus::after, a.spell.bonus:visited::after,
.spell.divination, a.spell.divination, a.spell.divination:visited { color: var(--divination-blue); }
.spell.conjuration, a.spell.conjuration, a.spell.conjuration:visited { color: var(--conjuration-green); }
.spell.illusion, a.spell.illusion, a.spell.illusion:visited { color: var(--illusion-grey); }
.spell.evocation, a.spell.evocation, a.spell.evocation:visited { color: var(--evocation-red); }
.spell.abjuration, a.spell.abjuration , a.spell.abjuration:visited{ color: var(--abjuration-gold); }
.spell.transmutation, a.spell.transmutation, a.spell.transmutation:visited { color: var(--transmutation-teal); }
.spell.enchantment, a.spell.enchantment, a.spell.enchantment:visited { color: var(--enchantment-lilac); }
.spell.necromancy, a.spell.necromancy, a.spell.necromancy:visited { color: var(--necromancy-purple);}

/* Damage Types */								/*TBD: Holy, Unholy, Silver, Cold-Iron, Precision 🎯, Bleed, Persistent, Nonlethal?*/
.spell.fire::after { content: "\a0🔥"; }
.spell.cold::after { content: "\a0❄️"; }
.spell.acid::after { content: "\a0🧪"; }
.spell.electricity::after { content: "\a0⚡"; }	/*5e: lightning*/
.spell.force::after { content: "\a0💫"; }
.spell.mental::after { content: "\a0🧠"; }		/*5e: psychic*/
.spell.poison::after { content: "\a0🐍️"; }
.spell.sonic::after { content: "\a0📣"; }		/*5e: thunder*/
.spell.spirit::after { content: "\a0🪬"; }		/*5e: radiant*/
.spell.vitality::after { content: "\a0🌱"; }
.spell.void::after { content: "\a0💀"; }		/*5e: necrotic*/
.fire:not(.spell), a.fire:not(.spell), a.fire:not(.spell):visited { color: var(--evocation-red); }
.cold:not(.spell), a.cold:not(.spell), a.cold:not(.spell):visited { color: var(--transmutation-teal); }
.acid:not(.spell), a.acid:not(.spell), a.acid:not(.spell):visited { color: var(--conjuration-green); }
.electricity:not(.spell), a.electricity:not(.spell), a.electricity:not(.spell):visited { color: var(--abjuration-gold); }

/* Spell Reminders */
.spell::after,
.concentration::after {
	vertical-align: text-top;
	font-size: .65em;
}
.spell.bonus::after { content: "\a0δ"; }
.spell.bonus.off-class::after { content: "\a0Δ"; }
.concentration::after { content: "\a0\43"; } /* \43 just means C, but having C would be interpreted as \a0c */
.spell.ritual::after { content: "\a0R"; }
.spell.upcast::after { content: "\a0U"; }

.spell.ritual.upcast::after { content: " RU"; }
.spell.concentration.ritual::after { content: " CR"; }
.spell.concentration.upcast::after { content: " CU"; }
.spell.concentration.ritual.upcast::after { content: " CRU"; }
.spell.bonus.upcast::after { content: " δU"; }
.spell.bonus.ritual::after { content: " δR"; }
.spell.bonus.concentration::after { content: " δC"; }
.spell.bonus.ritual.upcast::after { content: " δRU"; }
.spell.bonus.concentration.ritual::after { content: " δCR"; }
.spell.bonus.concentration.upcast::after { content: " δCU"; }
.spell.bonus.concentration.ritual.upcast::after { content: " δCRU"; }
.spell.bonus.off-class.upcast::after { content: " ΔU"; }
.spell.bonus.off-class.ritual::after { content: " ΔR"; }
.spell.bonus.off-class.concentration::after { content: " ΔC"; }
.spell.bonus.off-class.ritual.upcast::after { content: " ΔRU"; }
.spell.bonus.off-class.concentration.ritual::after { content: " ΔCR"; }
.spell.bonus.off-class.concentration.upcast::after { content: " ΔCU"; }
.spell.bonus.off-class.concentration.ritual.upcast::after { content: " ΔCRU"; }

.spell.touch::after { content: " [touch]"; color: var(--transmutation-teal); }
.spell.touch.bonus::after { content: " δ[touch]"; }
.spell.touch.bonus.off-class::after { content: " Δ[touch]"; }
.spell.touch.cold::after { content: " ❄️[touch]"; }
.spell.fire.bonus::after { content: " 🔥δ"; }
.spell.fire.upcast::after { content: " 🔥U"; }
.spell.fire.bonus.upcast::after { content: " 🔥δU"; }

.spell.psi::after { content: "\a0Ψ"; }
.composition::after { content: "🎵"; }